# Скомпилированные файлы
*.exe
*.obj
*.lib
*.dll
*.pdb
*.csv

# Временные файлы MSVC
Debug/
Release/
x64/
*.sdf
*.opensdf
*.suo
*.user
*.userosscache
*.sln.docstates
solver.exe

# Локальные настройки
.vs/